@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes highlight {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(59, 130, 246, 0);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(59, 246, 130, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(59, 130, 246, 0);
  }
}

.animate-highlight {
  animation: highlight 3s ease-in-out;
}
